@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.flexbox-center {
  @include flexbox();
  @include align-items(center);
}

.custom-toolbar {
  button {
    text-transform: uppercase;
  }
  height: var(--header-height);
  .sidenav-wrapper {
    width: 100%;
    @extend .flexbox-center;
    @include justify-content(space-between);
    .brand {
      @extend .flexbox-center;
      mat-icon {
        margin-right: var(--default-spacing);
      }
    }
    .sidenav-actions {
      h6 {
        font-size: 70%;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      @include flexbox();
      @include align-items(center);
    }
  }
}
