<mat-toolbar [color]="theme" class="custom-toolbar">
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="sidenav-wrapper">
    <div class="brand">
      <button mat-button (click)="navigateTo('/')"><mat-icon>{{ icon }}</mat-icon></button>
       {{ title }}
    </div>
    <div class="sidenav-actions">
      <h6>{{ user?.name }}</h6>
      <button *ngIf="isAuthenticated" mat-button (click)="logout()">logout</button>
      <button *ngIf="!isAuthenticated" mat-button (click)="loginWithRedirect()">login</button>
    </div>
  </div>
</mat-toolbar>
