.example-container {
  width: 100%;
  height: var(--body-height);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  position: absolute;
}

.example-sidenav-content {
  background-color: red;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-drawer-container.mat-drawer-container-explicit-backdrop .mat-drawer-side {
  z-index: 15;
}

.mat-drawer-backdrop.mat-drawer-shown {
  z-index: 14;
}


