@import '~fullpage.js/dist/fullpage.css';

.section {
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.section:nth-child(odd) {
  background-color: #ff5f45;
}

.section:nth-child(even) {
  background-color: #0798ec;
}
