//Colors
$black: #000000;
$white: #FFFFFF;
$transparent: transparent;

$primary: #6103EE;
$secondary: #ee0390;

//Fonts config
$font:'Lato-Regular';
$font-bold:'Lato-Bold';
$font-italic: 'Lato-Italic';


$mat-icons: 'Material Icons';
$chevron-left: 'chevron_left';
$chevron-right: 'chevron_right';
$chevron-up: 'expand_less';
$chevron-down: 'expand_more';

$header-height: 7vh;
$sidenav-height: 93vh;

:root {
  --sidenav-height: 93vh;
  --header-height: 7vh;
  --default-spacing: .5rem;
  --spacing-1: 1rem;
}
