//Colors
$primary: #673ab7;
$secondary: #7B79FF;
$lt-cyan: #E3E6F0;
$success: #1db11d;
$info: #47ffe6;
$danger: #80002d;
$yellow: #fff454;
$orange: #e49a11;
$black: #1f0b31;
$white: #FFFFFF;
$transparent: transparent;
$body-text-color: #1A2A5B;

//Fonts config
$mat-icons: 'Material Icons';
$chevron-left: 'chevron_left';
$chevron-right: 'chevron_right';
$chevron-up: 'expand_less';
$chevron-down: 'expand_more';

