//Colors
$black: #000000;
$white: #FFFFFF;
$transparent: transparent;

$primary: #6103EE;
$secondary: #ee0390;

//Fonts config
$mat-icons: 'Material Icons';
$chevron-left: 'chevron_left';
$chevron-right: 'chevron_right';
$chevron-up: 'expand_less';
$chevron-down: 'expand_more';

